.overalay_action__list {
  border: 1px solid #e6e8f0;
  padding: 6px;
  border-radius: 4px;
  width: fit-content;
  .font_tiltle{
    font-size:14px ;
    font-weight: 500;
    color: #474D66;
  }
  .font_subtiltle{
    font-size:12px ;
    font-weight: 400;
    color: #8F95B2;
    margin-left: 4px;
  }
}
.heading__icuform{
    font-size:20px ;
    font-weight: 600;
    color: #101840;
   
}
